@page
@model SSDAssignmentBOX.Pages.Staffs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Staff</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Staff.ID" />
            <div class="form-group">
                <label asp-for="Staff.Name" class="control-label"></label>
                <input asp-for="Staff.Name" class="form-control" />
                <span asp-validation-for="Staff.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staff.Birthday" class="control-label"></label>
                <input asp-for="Staff.Birthday" class="form-control" min = "1900-01-01" max = "2018-07-31"/>
                <span asp-validation-for="Staff.Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staff.BranchAssigned" class="control-label"></label>
                <input asp-for="Staff.BranchAssigned" class="form-control" />
                <span asp-validation-for="Staff.BranchAssigned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staff.Gender" class="control-label"></label>
                <input asp-for="Staff.Gender" class="form-control" />
                <span asp-validation-for="Staff.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

