@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"] BOX</h2>

<div style="width:70%; font-size:15px">
    <p>
        BOX will consolidate all of the resources of the local libraries in Singapore such as national, community centres and tertiary libraries all into one website. Allowing visitors like public library users and tertiary students to register as members and allowing existing members to login into their accounts. Visitors can also use the site to find the location of the books that they wish to find. Members can also reserve books that they want and be allowed to change their passwords. For tertiary students specifically, they would be allowed to reserve books only in their specific schools too.
    </p>
    <p>
        The problem that we are trying to solve would be, since, there are many libraries in Singapore with different websites that causes a hassle to users to remember the different accounts for the different library websites.  It is also a hassle to look through the many websites to find the book of your choice. Book fines have to usually be paid physically, at the kiosk located in libraries or at the counter. Additionally, during peak periods, it is very difficult to find seats in the public libraries, hence students would be able to book rooms in their own school libraries too. Thus, with this web application users are able to easily access Singapore’s library resources.


        The goal that we are trying to achieve is a Consolidated All-in-One Website to access all public and private library resources in Singapore , according to your Designation . The “Trivago” of Libraries, to aid public library users and tertiary students who would like to book the libraries resource.
    </p>
</div>
